@{
    ViewData["Title"] = "Error";
}
<div class="alert alert-danger mt-4">
    <h4>An unexpected error occurred.</h4>
    <p>Please try again or contact your system administrator.</p>
    <a asp-action="YearSelect" class="btn btn-outline-secondary btn-sm font-monospace">
        F3 = Exit
    </a>
</div>
